@media screen and (max-width: 1920px) {
    .lkt-grid-1--to-1920,
    .lkt-grid-2--to-1920,
    .lkt-grid-3--to-1920,
    .lkt-grid-4--to-1920,
    .lkt-grid-5--to-1920,
    .lkt-grid-6--to-1920,
    .lkt-grid-7--to-1920,
    .lkt-grid-8--to-1920,
    .lkt-grid-9--to-1920,
    .lkt-grid-10--to-1920,
    .lkt-grid-11--to-1920,
    .lkt-grid-12--to-1920 {
        display: grid;
        width: 100%;
        gap: var(--lkt-grid--gap);
        align-content: baseline;
    }

    .lkt-grid-1--to-1920 > *,
    .lkt-grid-2--to-1920 > *,
    .lkt-grid-3--to-1920 > *,
    .lkt-grid-4--to-1920 > *,
    .lkt-grid-5--to-1920 > *,
    .lkt-grid-6--to-1920 > *,
    .lkt-grid-7--to-1920 > *,
    .lkt-grid-8--to-1920 > *,
    .lkt-grid-9--to-1920 > *,
    .lkt-grid-10--to-1920 > *,
    .lkt-grid-11--to-1920 > *,
    .lkt-grid-12--to-1920 > * {
        min-height: 0;
        min-width: 0;
    }

    .lkt-grid-1--to-1920 { grid-template-columns: 1fr;}
    .lkt-grid-2--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (2 + 1) + 0.1%), 1fr)); }
    .lkt-grid-3--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (3 + 1) + 0.1%), 1fr)); }
    .lkt-grid-4--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (4 + 1) + 0.1%), 1fr)); }
    .lkt-grid-5--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (5 + 1) + 0.1%), 1fr)); }
    .lkt-grid-6--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (6 + 1) + 0.1%), 1fr)); }
    .lkt-grid-7--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (7 + 1) + 0.1%), 1fr)); }
    .lkt-grid-8--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (8 + 1) + 0.1%), 1fr)); }
    .lkt-grid-9--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (9 + 1) + 0.1%), 1fr)); }
    .lkt-grid-10--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (10 + 1) + 0.1%), 1fr)); }
    .lkt-grid-11--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (11 + 1) + 0.1%), 1fr)); }
    .lkt-grid-12--to-1920 { grid-template-columns: repeat(auto-fit, minmax(calc(100% / (12 + 1) + 0.1%), 1fr)); }

    .lkt-grid-column-1-2--to-1920 { grid-column: 1 / 2; }
    .lkt-grid-column-2-2--to-1920 { grid-column: 2 / 2; }
    .lkt-grid-column-1-3--to-1920 { grid-column: 1 / 3; }
    .lkt-grid-column-2-3--to-1920 { grid-column: 2 / 3; }
    .lkt-grid-column-3-3--to-1920 { grid-column: 3 / 3; }
    .lkt-grid-column-1-4--to-1920 { grid-column: 1 / 4; }
    .lkt-grid-column-2-4--to-1920 { grid-column: 2 / 4; }
    .lkt-grid-column-3-4--to-1920 { grid-column: 3 / 4; }
    .lkt-grid-column-4-4--to-1920 { grid-column: 4 / 4; }


    .lkt-grid-column-start-1--to-1920 {grid-column-start: 1;}
    .lkt-grid-column-start-2--to-1920 {grid-column-start: 2;}
    .lkt-grid-column-start-3--to-1920 {grid-column-start: 3;}
    .lkt-grid-column-start-4--to-1920 {grid-column-start: 4;}
    .lkt-grid-column-start-5--to-1920 {grid-column-start: 5;}
    .lkt-grid-column-start-6--to-1920 {grid-column-start: 6;}

    .lkt-grid-column-end-1--to-1920 {grid-column-end: 1;}
    .lkt-grid-column-end-2--to-1920 {grid-column-end: 2;}
    .lkt-grid-column-end-3--to-1920 {grid-column-end: 3;}
    .lkt-grid-column-end-4--to-1920 {grid-column-end: 4;}
    .lkt-grid-column-end-5--to-1920 {grid-column-end: 5;}
    .lkt-grid-column-end-6--to-1920 {grid-column-end: 6;}
}