
.lkt-align-items-end {align-items: flex-end}
.lkt-align-items-start {align-items: flex-start}
.lkt-align-items-center {align-items: center}

.lkt-justify-content-stretch {justify-content: stretch}
.lkt-justify-content-center {justify-content: center}
.lkt-justify-content-space-between {justify-content: space-between}
.lkt-justify-content-space-around {justify-content: space-around}
.lkt-justify-content-space-evenly {justify-content: space-evenly}
.lkt-justify-content-start {justify-content: flex-start}
.lkt-justify-content-end {justify-content: flex-end}

.lkt-justify-items-center {justify-items: center;}
.lkt-justify-items-end {justify-items: end;}
.lkt-justify-items-start {justify-items: start;}
